body {
  font-family: 'Geist-Regular', sans-serif;
  background-image: linear-gradient(25deg, #186a3b, #1a8c40, #16b143, #03d644);
}

h1 {
  font-family: 'Geist-UltraBlack', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: black;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.textarea {
  width: 100%;
  min-height: 5px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #186A3B;
  border-radius: 5px;
  resize: vertical;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #186A3B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.container ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.container li {
  border: 1px solid #186A3B;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.container h1, .container h3 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: inherit;
  color: white;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 10px;
  }
}